@import '~assets/core';

:host {
	display: flex;
	flex-direction: column;
	height: 100%;
	> ui-view {
		flex: 1 1 100%;
    	display: flex;
    	align-items: center;
    	justify-content: center;
	}
}

bp-hamburger {
	display: flex;
	flex: 0 0 auto;
	margin: 10px;
}
